.spongebob-char{
    cursor: grab;
    height : 4.5rem;
    user-drag: none; 
    user-select: none;
}


.spongebob-char-sm{
    cursor: grab;
    height : 2.5rem;
    user-drag: none; 
    user-select: none;
}