div .skill-icons {
    
    background-color: rgba(255, 255, 255, 0.5);

    padding: 1rem;
    cursor: pointer;
}

.skill-icons .columns .column {
	text-align: -webkit-center;
}

div .skill-icons:hover {
    /*background-color: rgba(255, 255, 255, 0.85);*/

}

div.skill-icons svg{
	width: 4rem;
	margin: auto 1rem;
	transition: transform 0.8s;
  	transform-style: preserve-3d;
}

div.skill-icons svg:hover{
	animation-fill-mode: none !important;
	transition: transform 0.8s !important;
  	transform-style: preserve-3d !important;
	transform: rotateY(360deg);
}


@media screen and (max-width: 768px) {
  body{
     padding-top: 1.3rem;
  }
}